body {
    margin: 0;
    font-family: "Rubik", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #686A6F;
    text-align: left;
    background-color: #fff;
}
img{
    max-width: 100%;
}
article.card{
    max-width: 500px;
    background: #f8f8f8;
    border-radius: 8px;
    margin: 1rem;
    box-shadow: 0 0 12px #d7d7d7;
}
header-card img{
   border-radius: 8px 8px 0 0;
   max-width: 200px; 
   height: 200px;
   width: 100%;
}
.categoria-card{
    margin-top: 1rem;
}
.categoria-card span{
    background: #FFAA17;
    color: #000000;
    padding: .2rem .5rem;
    border-radius: 4px;
}
.card footer{
    padding: 0 1rem;
}
.perfil-card{
    display: flex;
}
.img-perfil-card{
    display: flex;
}
.img-perfil-card img{
    width: 50px;
    margin: 1rem 1rem 1rem 0;
}
.text-perfil-card{
    display: flex;
    flex-flow: column;
    margin-left: 150px;
}
.text-perfil-card span:nth-child(2){
    color: #cfcfcf;
}
.card-wrap{
    display: flex;
    flex-flow: wrap;
    margin-left: 5rem;
}

#loading-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  #loading-dots {
    font-size: 3em;
  }
  
  #loading-dots span {
    animation: loading-dots 1s infinite;
  }
  
  @keyframes loading-dots {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }